<section id="footer">
    <div class="socials">
        <a href="https://www.instagram.com/manoe_rvb/" target="_blank" title="Instagram">
            <img src="{{ asset('img/icone_insta.webp') }}" alt="Icône Instagram" class="social-icon">
        </a>
        <a href="https://www.tiktok.com/@manoervb" target="_blank" title="TikTok">
            <img src="{{ asset('img/icone_tiktok.PNG') }}" alt="Icône TikTok" class="social-icon">
        </a>
        <a href="https://www.tiktok.com/@manoervb" title="Contactez-moi">
            {# il faudra mettre le lien faire contact"{{ path('contact_route_name') }}" #}
            <img src="{{ asset('img/icone_env.webp') }}" alt="Icône d'enveloppe" class="social-icon">
        </a>
    </div>
    <div class="copyright">
        <p> 2023 | MANON MANGEOL | Tous droits réservés </p>
    </div>

</section>