<section class="rules-section">
    <ul id="rules">
        <li>
            <h5>1. Use correct title formatting</h5>
        </li>

        <li>
            <h5>2. Direct Image/Video Links Only</h5>
        </li>

        <li>
            <h5>3. Do Not Make Multiple Posts</h5>
        </li>

        <li>
            <h5>4. Do Not Post Memes or Low Quality Work</h5>
        </li>

        <li>
            <h5>5. Be Respectful and Stay on Topic</h5>
        </li>
    </ul>
</section>