{# templates/cart/checkout.html.twig #}
{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content=" here we can valid our cart">
{% endblock %}

{% block title %}Finaliser la commande{% endblock %}

{% block body %}
    <h1>Finaliser la commande</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Confirmer la commande</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script>
    STRIPE_PK="pk_test_51OBMBmJ2xtfHlkDGJsPplbhNtuGXpr24L0TuOFzXEXiMuLHEM01B3knYOaUqPqE5v86f5Y14QdWhyeLonPxKTt5700wPLIiTFq"
</script>
{% endblock %}
