{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<section id="sectionHome">
    <h1> <strong>Manon MANGEOL</strong></h1>
    <h2>En <strong>M2</strong> à la faculté des arts de <strong>Strasbourg</strong></h2>
    <img src="{{ asset('/img/illustrationBureau.PNG') }}" alt="illustrationBureau" id="illustrationBureau">
</section>

{% endblock %}
