{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<section id="sectionHome">
    <h1> <strong>Manon MANGEOL</strong></h1>
    <h2>Etudiante en <strong>Master 2</strong> à la faculté des arts de <strong>Strasbourg</strong></h2>
    <img src="{{ asset('/img/illustrationBureau.PNG') }}" alt="illustrationBureau" id="illustrationBureau">
</section>

<section id="sectionAbout">
    <img src="{{ asset('/img/photoManon.jpg') }}" alt="photoManon" id="photoManon">
    <div id="aboutMe">Bonjour, bonsoir ! <br>
        <p>Je suis Manon, actuellement étudiante en 2e année du <strong>Master en arts plastiques « Recherches et pratiques situées » de l'université de Strasbourg</strong>. Suite à l'obtention de ma
        licence en arts plastiques en 2022, j'ai souhaité poursuivre ce cursus dans l'objectif de produire de l'art en me posant des questions, de m'ouvrir davantage et d'affirmer la raison qui me
        pousse à créer toujours plus : <strong>comment donner à voir l'immatérialité d'un sentiment, l'accueillir et l'accepter pour mieux vivre avec</strong>. Je m'auto-analyse beaucoup, de ce fait la création
        artistique devient un moyen de stocker tout ce que je ressens, pour faire de la place dans mon esprit.</p> <br> 

        <p>Dans ma pratique personnelle et universitaire je traite principalement des sujets du <strong>corps</strong>, particulièrement le <strong>corps contraint</strong>, des <strong>émotions</strong> et d'une certaine forme de <strong>résilience</strong> par la
        pratique artistique. Je travaille ces thématiques par le dessin, le volume, la couture et le tricot ; ce sont des disciplines et des sujets que je développe dans mon mémoire qui est en cours
        de rédaction. Ils constituent un corpus de techniques que je peux combiner et que j'apprécie manipuler.</p> <br>
            
        <p>Ici, vous trouverez une <strong>place</strong> pour échanger ainsi qu'un <strong>shop</strong> où je vends certaines de mes <strong>créations</strong>. Bonne visite ! </p><br>
    </div>
</section>

{% endblock %}
