@import url('https://fonts.googleapis.com/css2?family=Borel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {

    /*========== Colors ==========*/
    --first-color: #f78e87;
    --second-color: #f7d177;
    --third-color: #3a7a59;

    /*========== Font and typography ==========*/
    --font-title: 'Borel', sans-serif;
    --font-nav: 'Sen', serif;
    --font-text: 'Arvo', serif;
    /*========== Font weight ==========*/
}

/* view base.html.twig */






#menu {
    z-index: 2;
    font-family: var(--font-nav);
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 40px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: var(--first-color);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, var(--first-color), var(--first-color));
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 650px;
    height: 700px;
    transform: translate(-60%,-30%);
}

#manonLogo{
    width: 100px;
    height: 100px;
}

#section1{
    display: flex;
    justify-content: flex-end;
}

p {
    font-family: var(--font-text);
}


/* view home index.html.twig */

#sectionHome{
    height: 90vh;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    padding-top: 25px;
}

#sectionHome, h1, h2{
    text-align: center;
    font-family: var(--font-title);
    color: var(--third-color);
}

#illustrationBureau{
    height: 300px;
    width: 350px;
    margin-bottom: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-section{

    background-image: url("../img/parallax.PNG");
    height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sectionAbout{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--font-text);
}

#photoManon{
    margin: auto;
    height: 400px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#aboutMe{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}


#sectionCarousel{
    height: 80vh;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* margin-top: 70px; */
}

.carousel {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 400%; /* Largeur totale égale au nombre d'images */
}

.carousel-item {
    display: flex;
    flex: 0 0 25%; /* 25% pour 4 images */
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-button {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-button.active {
    background-color: #555;
}

#footer {
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #000000;
    display: flex;
    width: 100%;
    /* height: 10vh; */
    font-family: var(--font-text);
}

.footer-in {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start
}

.sitemap ul, .sitemap a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

.social-icon {
    width: 50px; 
    height: auto;
    margin-right: 10px; /* Espacement entre les icônes */
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials a:hover .social-icon {
    /* Ajoutez des styles pour le survol si nécessaire, comme un léger changement d'opacité */
    opacity: 0.8;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.information ul, .information a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    /* background-color: transparent; */
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); Vous pouvez ajuster ou supprimer cette ombre si vous le souhaitez */
    z-index: 1;
    /* background-color: rgba(255, 255, 255, 0.7); Fond blanc avec une opacité de 70% */
    backdrop-filter: blur(5px); /* Applique un effet de flou */

}

.dropdown-menu a {
    color: white; /* Ajustez la couleur du texte pour qu'elle soit visible sur un fond transparent */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgba(255, 255, 255, 0); /* Fond semi-transparent pour les liens */
}

.dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0); /* Fond un peu plus foncé au survol */
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle:hover {
    background-color: transparent; /* Fond transparent au survol du bouton */
}


/* Style pour la vue article */

.article-blog {
    display:flex;
    flex-direction: column;
    & img {
        width: 50%;
        height: 50%;
    }
}

.single-article {
    /* display: flex; */
    text-align: justify;
    border-bottom: 1px solid green;
    padding: 5px;
    margin: 50px 20px 20px 20px;
    font-family: var(--font-text);
}

.single-article:last-child {
    border-bottom: none;
}

.single-article a {
    text-decoration: none;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.image-reduite {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}




/* tout ce qui concerne les form */
/* Style pour le conteneur du formulaire */
.centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#illuLogin{
    height: 450px;
    width: 600px;
}

#illuContact{
    height: 450px;
    min-width: 600px;
}

.log{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Style pour les messages d'erreur */
[role="alert"] {
    color: red;
    margin-bottom: 10px;
}

/* Style pour les éléments du formulaire */
.form-row {
    margin-bottom: 10px;
    font-family: var(--font-text);
}

.form-label {
    display: block;
    font-weight: bold;
}

.form-input,
.form-checkbox {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-checkbox {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

input[type="password"]{
    display: flex;
    align-items: flex-end;
}

.form-message {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Empêche le redimensionnement */
    height: 250px; /* Hauteur initiale */
    width: 180%;
}

.already-registered {
    text-align: center;
    padding-bottom: 10px;
}

/* Style pour les éléments bouton */

.btn-blue {
    background-color: #3939bc;
    border: none;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

/* Style pour les éléments du modal*/

.image-reduite {
    width: 100px; 
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Style pour forum */


.topic {
    border-left: 1px solid #ccc; 
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px; /* espace entre les posts */
    box-shadow: -2px 2px 4px rgba(0,0,0,0.1); 
}

#topic{
    margin-bottom: 10px;
}

.topic a {
    text-decoration: none;
}

.topic h3 {
    margin: 0;
}
.middle-topic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-topic ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding: 0%;
}


/* FORUM POST
 */
.middle-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.post {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px; /* espace entre les posts */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* ombre légère */
}

.post p {
    margin: 0;
}

.post-form {
    margin-bottom: 20px;
}


/* Style pour les fragments _partials */

.iconeThematique{
    height: 50px;
    width: 50px;
    margin-right: 10px; /* Ajoute un peu d'espace entre l'icône et le texte */
}


.thematiques-section{
    font-family: var(--font-nav);
}

.thematiques-section ul{
    list-style-type: none;
    padding: 0;
}

.thematiques a{
    text-decoration: none;
    display: flex;
    align-items: center; /* Alignement vertical */
    text-decoration: none; /* Optionnel: enlève le soulignement du lien */
}

.rules-section{
    font-family: var(--font-nav);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 4px;
}

.middle-section h3{
    font-family: var(--font-nav);
}




/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 360px){
    .article{
        display:flex;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
    }

    .form-message {
        width: 90%;
    }

    .log{
        /* flex-direction: column; */
        align-items: center;
    }

    #sectionCarousel{
        margin-top: 70px;
    }
}


@media screen and (min-width: 560px){
    #illustrationBureau{

        height: 500px;
        width: 550px;
    }

    #sectionCarousel{
        flex-direction: column;
        margin-top: 70px;
    }
    .article{
        display:flex;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
    }
}

/* For medium devices */

@media screen and (min-width: 767px) {

    body{
        box-sizing: border-box;
        padding-left: 50px;
        padding-right: 50px;
    }

    #illustrationBureau{
        height: 500px;
        width: 550px;
    }

    #sectionAbout{
        flex-wrap: nowrap;
        align-items: center;
    }

    /* #sectionCarousel{
        flex-direction: column;
    } */
}

@media screen and (min-width: 992px) {
    body{
        box-sizing: border-box;
        padding-left: 50px;
        padding-right: 50px;
    }

    #menu-bar {
        display: none; /* Hide the burger menu button */
    }
    
    .nav {
        display: flex;
        padding-top: 25px;
        padding-left: 50px;
    }
    
    .nav ul {
        padding: 0; /* Remove padding to align menu items */
    }
    
    .nav li {
        padding: 0 20px; /* Add horizontal spacing between menu items */
    }
    .nav li a{
        color: black;
    }

    ul {
        display: flex;
    }

    /* #sectionHome{
        margin-top: 50px;
    } */

    #illustrationBureau{
        height: 500px;
        width: 550px;
    }

    #sectionAbout{
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
    }

    #sectionCarousel{
        flex-direction: column;
    }

    .thematiques{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .thematiques-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
    }

    .main-cat{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        align-items: flex-start;
        height: 100vh;
    }

    #rules{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .rules-section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 20%;
    }

    ul.thematiques li {
        margin-bottom: 20px;
    }
    
    ul.thematiques li:last-child {
        margin-bottom: 0;
    }
    
    .article{
        display:flex;
        flex-direction: row-reverse;
        gap: 20px;
        align-items: center;
    }

    .dropdown-menu{
    backdrop-filter: none;
    }
}


/* For large devices */
@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1250px) {
    body{
        box-sizing: border-box;
        padding-left: 200px;
        padding-right: 200px;
    }

    .nav {
        display: flex;
        padding-top: 25px;
        padding-left: 250px;
    }

    #sectionAbout{
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        padding: 0 200px 0 200px;
    }

    #sectionHome{
        height: 90vh;
        display: flex;
        flex-direction: column;
        column-gap: 20px;
        padding-top: 70px;
    }   

    .centre2{
        min-width: 500px;
        align-items: flex-start;
    }

    .form-message {
        width: 180%;
    }

    .form-row {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}



