/* view base.html.twig */

#menu {
    z-index: 2;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 40px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 620px;
    height: 560px;
    transform: translate(-60%,-30%);
}

#manonLogo{
    width: 100px;
    height: 100px;
}

#section1{
    display: flex;
    justify-content: flex-end;
}


/* view home index.html.twig */

#sectionHome{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#sectionHome, H1, h2{
    text-align: center;
}

#illustrationBureau{
    height: 300px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 360px){

}


/* For medium devices */

@media screen and (min-width: 767px) {

}

@media screen and (min-width: 992px) {
    body{
        box-sizing: border-box;
        padding-left: 50px;
        padding-right: 50px;
    }

    #menu-bar {
        display: none; /* Hide the burger menu button */
    }
    
    .nav {
        display: flex;
        padding-top: 25px;
        padding-left: 50px;
    }
    
    .nav ul {
        padding: 0; /* Remove padding to align menu items */
    }
    
    .nav li {
        padding: 0 20px; /* Add horizontal spacing between menu items */
    }
    .nav li a{
        color: black;
    }

    ul {
        display: flex;
    }

    #sectionHome{
        margin-top: 50px;
    }

    #illustrationBureau{
        height: 500px;
        width: 550px;
    }
}


/* For large devices */
@media screen and (min-width: 1024px) {

}