{% extends 'base.html.twig' %}
{% block meta_description %}
<meta name="description" content="here you can see all the 'mentions légales'">
{% endblock %}
{% block title %}Mentions Légales{% endblock %}

{% block body %}
<h1>Mentions Légales</h1>

<section>
    <h2>Éditeur du site</h2>
    <p>
        <em>Nom de l'artiste :</em> Manon Mangeol<br> 
        <em>Adresse du domicile ou du studio :</em> 1 rue de la paix 75000 Paris<br>
        <em>Numéro de téléphone</em> 06 00 00 00 00<br> 
        <em>Adresse e-mail :</em> Manon@artiste.com<br> 
        <em>Forme juridique</em> (auto-entrepreneur, société, etc.)<br>
        <em>Numéro d'inscription au registre du commerce et des sociétés</em> (le cas échéant)<br>
        <em>Numéro de TVA intracommunautaire</em> (le cas échéant)
    </p>
</section>

<section>
    <h2>Hébergement du site</h2>
    <p>
        <em>Nom de l'hébergeur</em> <br>
        <em>Adresse de l'hébergeur</em><br>
        <em>Numéro de téléphone de l'hébergeur</em>
    </p>
</section>

<section>
    <h2>Directeur de la publication</h2>
    <p>
        <em>Nom de l'artiste ou du responsable de la publication</em>
    </p>
</section>

<section>
    <h2>Conception et réalisation</h2>
    <p>
        <em>Nom du créateur du site :</em> Julien Leger<br>
        <em>Adresse web du créateur du site :</em> www.julienleger.fr<br>
    </p>
</section>

<section>
    <h2>Propriété intellectuelle</h2>
    <p>
        Déclaration affirmant que toutes les œuvres de l'artiste présentées sur le site sont protégées par le droit d'auteur et les lois sur la propriété intellectuelle<br>
        Conditions d'utilisation des images et des contenus (par exemple, interdiction de reproduction sans autorisation)
    </p>
</section>

<section>
    <h2>Données personnelles</h2>
    <p>
        <strong>Politique de confidentialité</strong><br>
        Nous nous engageons à respecter la confidentialité des données personnelles collectées (via formulaire de contact, inscription à la newsletter, etc.). Aucune donnée sensible n'est collectée et les informations recueillies ne seront utilisées qu'avec le consentement explicite des utilisateurs pour les finalités clairement indiquées lors de la collecte.
    </p>
    <p>
        <strong>Conformité à la législation</strong><br>
        Notre politique de confidentialité est conforme à la loi Informatique et Libertés et au Règlement Général sur la Protection des Données (RGPD). Nous prenons toutes les mesures nécessaires pour assurer la sécurité et la confidentialité des informations personnelles.
    </p>
    <p>
        <strong>Exercice des droits des utilisateurs</strong><br>
        Les utilisateurs ont le droit d'accéder, de rectifier, de supprimer leurs données personnelles, ou de s'opposer à leur traitement. Pour exercer ces droits, veuillez nous contacter via un formulaire de contact en ligne. Nous nous engageons à répondre aux demandes dans les meilleurs délais.
    </p>
</section>


<section>
    <h2>Cookies</h2>
    <p>
        <strong>1. Qu'est-ce qu'un Cookie ?</strong><br>
        Un cookie est un petit fichier texte stocké sur votre appareil (ordinateur, téléphone, tablette) par un site web. Il contient des informations relatives à votre navigation sur ce site, comme vos préférences de langue, vos articles dans le panier d'achat, ou vos informations de connexion.
    </p>
    <p>
        <strong>2. Pourquoi Utilisons-nous des Cookies ?</strong><br>
        <em>Amélioration de l'Expérience Utilisateur:</em> Les cookies aident à personnaliser votre expérience en mémorisant vos préférences et visites répétées.<br>
        <em>Analyse et Performance:</em> Ils permettent de comprendre comment les visiteurs interagissent avec le site, d'identifier les parties les plus visitées et d'analyser les tendances d'utilisation.<br>
        <em>Publicité Ciblée:</em> Certains cookies peuvent être utilisés pour vous montrer des publicités pertinentes en fonction de vos centres d'intérêt.<br>
        Les cookies ont une durée de vie limitée. Certains expirent à la fin de votre session, d'autres restent sur votre appareil pendant une période définie de 13 mois.<br>

    </p>
    <p>
        <strong>3. Types de Cookies Utilisés</strong><br>
        <em>Cookies de Session:</em> Ces cookies sont temporaires et disparaissent lorsque vous fermez votre navigateur.<br>
        <em>Cookies Permanents:</em> Ils restent sur votre appareil pendant une période définie ou jusqu'à ce que vous les supprimiez.<br>
        <em>Cookies Tiers:</em> Issus de services tiers intégrés sur le site, comme les boutons de partage des réseaux sociaux ou les vidéos intégrées.
    </p>
    <p>
        <strong>Gestion des Cookies</strong><br>
        Pour la gestion des cookies sur notre site, nous utilisons tarteaucitron.js, un gestionnaire de script conforme au RGPD et à la directive ePrivacy.
    </p>
    <p>
        <strong>Utilisation de tarteaucitron.js</strong><br>
        <em>Consentement des Cookies:</em> Lors de votre première visite, tarteaucitron.js affiche une bannière vous informant de l'utilisation des cookies et vous demande votre consentement pour chaque type de cookie.<br>
        <em>Personnalisation des Préférences:</em> Vous avez la liberté de choisir quels cookies accepter ou refuser. tarteaucitron.js vous permet de personnaliser vos préférences en matière de cookies à tout moment.<br>
        <em>Transparence et Contrôle:</em> Ce gestionnaire assure une transparence totale sur les cookies utilisés et vous offre un contrôle complet sur votre vie privée en ligne.
    </p>
    <p>
        <strong>Comment Gérer vos Préférences de Cookies avec tarteaucitron.js ?</strong><br>
        Sur la bannière de consentement des cookies, cliquez sur le bouton de configuration pour afficher la liste des cookies et services utilisés sur le site.<br>
        Sélectionnez individuellement quels cookies ou services vous souhaitez activer ou désactiver.<br>
        Vos préférences seront sauvegardées et respectées lors de vos prochaines visites sur le site.<br>
        En utilisant tarteaucitron.js, nous nous assurons que nos utilisateurs peuvent gérer facilement leurs préférences en matière de cookies, conformément aux normes de confidentialité et de protection des données.
    </p>
</section>


<section>
    <h2>Liens hypertextes</h2>
    <p>
        <strong>Conditions d'établissement de liens vers le site</strong><br>
        Les utilisateurs sont libres d'établir des liens vers notre site, sous réserve que ces liens ne créent pas de confusion sur la source des contenus et soient en accord avec les objectifs et l'image du site. L'établissement de liens doit respecter les droits d'auteur et ne pas utiliser de techniques de "framing" ou de "deep-linking".
    </p>
    <p>
        <strong>Mention que les sites liés ne sont pas sous le contrôle de l'artiste et qu'elle n'est pas responsable de leur contenu</strong><br>
        Il est important de noter que les sites liés ne sont pas sous le contrôle de notre entité et que nous ne sommes pas responsables des contenus présents sur ces sites tiers. Les liens sont fournis pour la commodité des utilisateurs et n'impliquent pas une approbation ou une garantie de notre part concernant ces sites externes.
    </p>
</section>


<section>
    <h2>Limitation de responsabilité</h2>
    <p>
        <strong>Clause de non-responsabilité concernant les informations fournies sur le site</strong><br>
        Bien que nous nous efforcions d'assurer l'exactitude et la mise à jour des informations publiées sur notre site, des erreurs ou des omissions peuvent survenir. Par conséquent, nous ne garantissons pas la précision, la fiabilité ou l'exhaustivité des informations présentées et déclinons toute responsabilité pour toute imprécision, inexactitude ou omission concernant les informations disponibles sur le site.
    </p>
    <p>
        <strong>Mention que l'artiste ne peut être tenue responsable des dommages directs ou indirects résultant de l'utilisation du site</strong><br>
        Nous ne saurions être tenus responsables des dommages directs ou indirects, matériels ou immatériels, causés aux utilisateurs, à leur équipement


<section>
    <h2>Modification des mentions légales</h2>
    <p>
        Nous nous réservons le droit de modifier les mentions légales à tout moment et sans préavis. Les utilisateurs sont encouragés à consulter régulièrement cette page pour se tenir informés des éventuelles modifications.
    </p>
</section>



<section>
    <h2>Droit applicable et juridiction compétente</h2>
    <p>
        Déclaration sur le droit applicable et la juridiction compétente en cas de litige
    </p>
</section>

{% endblock %}
