{% extends 'base.html.twig' %}

{% block title %}Topics de la catégorie{% endblock %}

{% block body %}

<h1>Topics de la catégorie "{{ categoryName }}"</h1>

<ul>
    {% for topic in topics %}
        <li>
            <strong>{{ topic.name }}</strong> - Créé le {{ topic.dateCreation|date('d-m-Y') }}
            {% if topic.locked %}
                (Verrouillé)
            {% endif %}
            - Par {{ topic.user.nickname }} 
        </li>
    {% else %}
        <li>Aucun topic trouvé pour cette catégorie.</li>
    {% endfor %}
</ul>

{% endblock %}
