{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="article" content="blog where the artist Manon Mangeol can expose her work">
{% endblock %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<div class="article-blog">
  {% for article in articles %}
    <div class="single-article">
      <h2>{{ article.title }}</h2>
      <p>{{ article.content }}</p>
      <img src="{{ asset('img/' ~ article.photo) }}" alt="Illu">
      <p> Posté le : {{ article.dateCreation|date('d-m-Y')}}</p>
    </div>
  {% endfor %}
</div>



{% endblock %}
