{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content="On this page you can change your password">
{% endblock %}

{% block title %}Mot de passe{% endblock %}

{% block body %}
<h1>Changer le Mot de Passe</h1>
    <div class="change-password-form">
        {{ form_start(changePasswordForm, {'attr': {'id': 'contact-form'}}) }}
        {{ form_row(changePasswordForm.plainPassword.first, {'attr': {'class': 'form-input'}}) }}
        {{ form_row(changePasswordForm.plainPassword.second, {'attr': {'class': 'form-input'}}) }}
        <button type="submit" class="btn-blue">Changer le Mot de Passe</button>
        {{ form_end(changePasswordForm) }}
    </div>
{% endblock %}
