{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content="On this page you can see your profile">
{% endblock %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="user-profile">
    <h1>Profil de {{ user.nickname }}</h1>
    <p>Email: {{ user.email }}</p>

    <a href="{{ path('app_edit_profile') }}">Modifier le Profil</a>
    <a href="{{ path('app_reset_password') }}">Changer le mot de passe</a>

</div>
{% endblock %}
